[viewBag]
==
<!-- Bootstrap needed fields -->
<div id="str_status_msg_onSearchStart" style="display:none;">Searching...</div>
<div id="str_status_msg_onSelect"	   style="display:none;">Searching...</div>
<div id="str_status_msg_searchSubmit"  style="display:none;">Searching...</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--script src="/app/ot/assets/bs3/js/ie10-viewport-bug-workaround.js"></script-->
<script src="/app/ot/assets/jquery.autocomplete.git/src/jquery.autocomplete.js"></script>
<!--script src="/app/ot/assets/js/responsive-placeholder-images-custom.js"></script-->
<!--script src="/app/ot/assets/libs/Readmore.js/readmore.js"></script-->
<script src="/app/ot/assets/jquery.dotdotdot.git/src/js/jquery.dotdotdot.min.js"></script>
<script src="/app/ot/assets/jquery.bs-confirmation.git/bootstrap-confirmation.js"></script>
<script src="/app/ot/assets/js/oktick.js"></script>
<script src="modules/backend/formwidgets/richeditor/assets/vendor/redactor/redactor.js"></script>
<script src="/plugins/rainlab/editable/assets/js/editable.js"></script>
<script src="/app/ot/assets/jquery.show-password/bootstrap-show-password.min.js"></script>
<script src="/app/ot/assets/jquery.bs3dialog.git/dist/js/bootstrap-dialog.min.js"></script>
<noscript><div id="noscript-warning" class="alert alert-danger">The accounts section of OKTicK requires that JavaScript is enabled</div>
<div>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser.</div>
</noscript>
{% flash %}
<script>
function hideTopAlert() {
    $('#top-alert').addClass('collapse');
}
setTimeout(hideTopAlert,5000);
</script>
<div id="top-alert" class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div> 
{% endflash %}

</body>
</html>