[viewBag]
==
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/ProductSearch">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<base href="/" />
<title> {% if search %}Suppliers of {{ search }}{% else %}OKTick Suppliers Search{% endif %} </title>
<meta name="description" content="OKTick Suppliers Search - {% if search %}{{ search|capitalize }} suppliers.{% else %}Simplicity Itself{% endif %}" />
<meta name="keywords" content="{% if search %}{{ search|capitalize }}, {% endif %}Suppliers Search, Products Search, Services Search" />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- Facebook Metadata /-->
<meta property="fb:page_id" content="" />
<meta property="og:image" content="" />
<meta property="og:description" content="OKTick Suppliers Search - {% if search %}{{ search|capitalize }} suppliers.{% else %}Simplicity Itself{% endif %}"/>
<meta property="og:title" content="{% if search %}Suppliers of {{ search }}{% else %}OKTick Suppliers Search{% endif %}"/>
<!-- Google+ Metadata /-->
<meta itemprop="name" content="{% if search %}Suppliers of {{ search }}{% else %}OKTick Suppliers Search{% endif %}">
<meta itemprop="description" content="OKTick Suppliers Search - {% if search %}{{ search|capitalize }} suppliers.{% else %}Simplicity Itself{% endif %}">
<meta itemprop="image" content="">

<meta name="author" content="humans.txt">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<!-- Bootstrap core CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<script>
    function cssLoaded(href) {
        var cssFound = false;
        for (var i = 0; i < document.styleSheets.length; i++) {
            var sheet = document.styleSheets[i];
            if (
            sheet['href'] == "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" ||
            sheet['href'] == "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css") {
                cssFound = true;
            }
        };
        return cssFound;
    }
    if (!cssLoaded('bootstrap.min.css')) {
        local_bootstrap = new CustomEvent('link');
        local_bootstrap.setAttribute("rel", "stylesheet");
        local_bootstrap.setAttribute("href", "/themes/oktick/assets/bs3/css/bootstrap.min.css");
        document.getElementsByTagName("head")[0].appendChild(local_bootstrap);
    }
</script>
<!-- Custom styles for this template -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

<!--link rel="stylesheet" href="/themes/oktick/assets/flexbox.git/jquery.flexbox.css" /-->
<link rel="stylesheet" href="/themes/oktick/assets/css/responsive-placeholder-images-custom.css" />
<link rel="stylesheet" href="/modules/system/assets/css/framework.extras.css">
<link rel="stylesheet" href="/themes/oktick/assets/css/{{cssfile}}">
<link rel="stylesheet" href="/modules/backend/formwidgets/richeditor/assets/vendor/redactor/redactor.css">
<link rel="stylesheet" href="/plugins/rainlab/editable/assets/css/editable.css" />
<noscript>
<!--link rel="stylesheet" href="/themes/oktick/assets/css/oktick-noscript.css"-->
</noscript>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap Stripe -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!-- Bootstrap core JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script><!--try to use CDN first-->
<script>window.jQuery || document.write('<script src="/app/ot/assets/jquery/1.11.2/jquery.min.js"><\/script>')</script><!--if CDN file isn't delivered, send a local file-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script><!--try to use CDN first-->
<script>$.fn.modal || document.write('<script src="/app/ot/assets/bs3/js/bootstrap.min.js"><\/script>')</script><!--if CDN file isn't delivered, send a local file-->
<script src="/modules/system/assets/js/framework.js"></script>
<script src="/modules/system/assets/js/framework.extras.js"></script>
<script type="text/javascript">
    function has_selected(option,e){
        e.preventDefault();
        var  amount = ["{{amount[1]}}", "{{amount[1]}}","{{amount[2]}}", "{{amount[3]}}","{{amount[4]}}","{{amount[5]}}"];
        var  price = ["FREE", "{{price[1]}}","{{price[2]}}", "{{price[3]}}","{{price[4]}}","{{price[5]}}"];
        var selected_amount=amount[option];
        var selected_price=price[option];
        if(isNumeric(selected_price) && selected_price != 0 ){
            $('#pay_button').html('Buy '+ (selected_amount) + ' Credits for £' + selected_price).prop('disabled', false).show();
            $('.notfree').show();
            $('#payment-errors').html("").hide();
        } else {
            $('#pay_button').html('Get '+ (selected_amount) + ' Credits for FREE!').show();
            $('.notfree').hide();
            $('#payment-errors').html("<p>Are you sure you want to use your introductory bonus to get just 50 Credits?</p><p>Remember, you can get up to 500 Credits free if you select one of the other options.</p><p>Afterwards you will not be able to take advantage of any of the other bonuses.</p>").show();
        }
        $('#stripePrice').val(selected_price);
        $('#stripeAmount').val(selected_amount);
        $('.select-product').hide();
        $('#cc_product1').show();
        return false;
    }
    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        msg = $('#pay_button').html();
        // Disable the submit button to prevent repeated clicks
        $('#pay_button').prop('disabled', true).show();
        $('#pay_button').html('Validating <i class="fa fa-spinner fa-pulse"></i>');
        var $form = $(this);
        Stripe.setPublishableKey('{{StripePublishableKey}}');
        var stripePrice = $("#stripePrice").val();
        if(stripePrice != 0){
            Stripe.card.createToken($form, stripeResponseHandler);
            // Prevent the form from submitting with the default action
            return false;
        }
        $.post('', {
            stripeToken: "FREE",
            stripeAmount:  $('#stripeAmount').val(),
            stripePrice: $('#stripePrice').val(),
            dataType: "json",
        })
        return false;
      });
    });

    var stripeResponseHandler = function(status, response) {
        var $form = $('#payment-form');
        if (response.error) {
            // Show the errors on the form
            $('#payment-errors').html(response.error.message).show();
            $('#pay_button').html(msg).prop('disabled', false).show();
//        alert(response.error.message);
        } else {
            /* Hide Stripe errors on the form */
            $('#payment-errors').html("").hide();
            $('#pay_button').html('Processing <i class="fa fa-spinner fa-pulse"></i>');

            // token contains id, last4, and card type
            var token = response.id;
            $.post('', {
                stripeToken: token,
                stripeAmount:  $('#stripeAmount').val(),
                stripePrice: $('#stripePrice').val(),
                dataType: "json",
            })
            .done(function(data, textStatus, jqXHR) {// Assign handlers immediately after making the request,
//                alert(jqXHR.responseText);
                var tmp = jqXHR.responseText.split('"');
                var msg = tmp[1];
                var tmp = jqXHR.responseText.split('%');
                $('#pay_button').html(msg + '<i class="fa fa-check"></i>').prop('disabled', true).show();
                var total_credits = parseFloat(tmp[1]);
                if(total_credits < 0) total_credits = 0;
                $('#ok_credits').text(total_credits.toFixed(2));
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                /* Show Stripe errors on the form */
                var tmp = jqXHR.responseText.split('"');
                var msg = tmp[1];
                $('#payment-errors').html(msg).show();
                $('#pay_button').hide('Error');
            });
        }
    };
  </script>

</head>
<body id="body">