[viewBag]
==
<!-- Bootstrap needed fields -->
<div id="str_status_msg_onSearchStart" style="display:none;">Searching...</div>
<div id="str_status_msg_onSelect"	   style="display:none;">Searching...</div>
<div id="str_status_msg_searchSubmit"  style="display:none;">Searching...</div>
<!-- Bootstrap core JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script><!--try to use CDN first-->
<script>window.jQuery || document.write('<script src="/app/ot/assets/js/jq.js"><\/script>')</script><!--if CDN file isn't delivered, send a local file-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script><!--try to use CDN first-->
<script>$.fn.modal || document.write('<script src="/app/ot/assets/js/bs.js"><\/script>')</script><!--if CDN file isn't delivered, send a local file-->

<!--script src="/app/ot/assets/js/ie10.js"></script-->
<script src="/app/ot/assets/js/auto.js"></script>
<!--script src="/app/ot/assets/js/logo.js"></script-->
<!--script src="/app/ot/assets/js/more.js"></script-->
<script src="/app/ot/assets/js/dot.js"></script>
<script src="/app/ot/assets/js/confirm.js"></script>
<script src="/app/ot/assets/js/ot.js"></script>
<script src="/app/ot/assets/js/redact.js"></script>
<script src="/app/ot/assets/js/edit.js"></script>
<script src="/app/ot/assets/js/pws.js"></script>
<script src="/app/ot/assets/js/dialog.js"></script>
<noscript><div id="noscript-warning" class="alert alert-danger">The accounts section of OKTicK requires that JavaScript is enabled</div>
<div>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser.</div>
</noscript>
{% flash %}
<script>
function hideTopAlert() {
    $('#top-alert').addClass('collapse');
}
setTimeout(hideTopAlert,5000);
</script>
<div id="top-alert" class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
{% endflash %}

</body>
</html>