[viewBag]
==
<?php
function onStart(){
    if (! Auth::check()) {
        return redirect("/".$this['activationcode']);
    }
$tz["GB"]="United Kingdom";
$tz["AF"]="Afghanistan";
$tz["AX"]="Åland Islands";
$tz["AL"]="Albania";
$tz["DZ"]="Algeria";
$tz["AS"]="American Samoa";
$tz["AD"]="Andorra";
$tz["AO"]="Angola";
$tz["AI"]="Anguilla";
$tz["AQ"]="Antarctica";
$tz["AG"]="Antigua and Barbuda";
$tz["AR"]="Argentina";
$tz["AM"]="Armenia";
$tz["AW"]="Aruba";
$tz["AU"]="Australia";
$tz["AT"]="Austria";
$tz["AZ"]="Azerbaijan";
$tz["BS"]="Bahamas";
$tz["BH"]="Bahrain";
$tz["BD"]="Bangladesh";
$tz["BB"]="Barbados";
$tz["BY"]="Belarus";
$tz["BE"]="Belgium";
$tz["BZ"]="Belize";
$tz["BJ"]="Benin";
$tz["BM"]="Bermuda";
$tz["BT"]="Bhutan";
$tz["BO"]="Bolivia";
$tz["BA"]="Bosnia and Herzegovina";
$tz["BW"]="Botswana";
$tz["BV"]="Bouvet Island";
$tz["BR"]="Brazil";
$tz["IO"]="British Indian Ocean Territory";
$tz["BN"]="Brunei Darussalam";
$tz["BG"]="Bulgaria";
$tz["BF"]="Burkina Faso";
$tz["BI"]="Burundi";
$tz["KH"]="Cambodia";
$tz["CM"]="Cameroon";
$tz["CA"]="Canada";
$tz["CV"]="Cape Verde";
$tz["KY"]="Cayman Islands";
$tz["CF"]="Central African Republic";
$tz["TD"]="Chad";
$tz["CL"]="Chile";
$tz["CN"]="China";
$tz["CX"]="Christmas Island";
$tz["CC"]="Cocos (Keeling) Islands";
$tz["CO"]="Colombia";
$tz["KM"]="Comoros";
$tz["CG"]="Congo";
$tz["CD"]="Congo, The Democratic Republic of The";
$tz["CK"]="Cook Islands";
$tz["CR"]="Costa Rica";
$tz["CI"]="Cote D'ivoire";
$tz["HR"]="Croatia";
$tz["CU"]="Cuba";
$tz["CY"]="Cyprus";
$tz["CZ"]="Czech Republic";
$tz["DK"]="Denmark";
$tz["DJ"]="Djibouti";
$tz["DM"]="Dominica";
$tz["DO"]="Dominican Republic";
$tz["EC"]="Ecuador";
$tz["EG"]="Egypt";
$tz["SV"]="El Salvador";
$tz["GQ"]="Equatorial Guinea";
$tz["ER"]="Eritrea";
$tz["EE"]="Estonia";
$tz["ET"]="Ethiopia";
$tz["FK"]="Falkland Islands (Malvinas)";
$tz["FO"]="Faroe Islands";
$tz["FJ"]="Fiji";
$tz["FI"]="Finland";
$tz["FR"]="France";
$tz["GF"]="French Guiana";
$tz["PF"]="French Polynesia";
$tz["TF"]="French Southern Territories";
$tz["GA"]="Gabon";
$tz["GM"]="Gambia";
$tz["GE"]="Georgia";
$tz["DE"]="Germany";
$tz["GH"]="Ghana";
$tz["GI"]="Gibraltar";
$tz["GR"]="Greece";
$tz["GL"]="Greenland";
$tz["GD"]="Grenada";
$tz["GP"]="Guadeloupe";
$tz["GU"]="Guam";
$tz["GT"]="Guatemala";
$tz["GG"]="Guernsey";
$tz["GN"]="Guinea";
$tz["GW"]="Guinea-bissau";
$tz["GY"]="Guyana";
$tz["HT"]="Haiti";
$tz["HM"]="Heard Island and Mcdonald Islands";
$tz["VA"]="Holy See (Vatican City State)";
$tz["HN"]="Honduras";
$tz["HK"]="Hong Kong";
$tz["HU"]="Hungary";
$tz["IS"]="Iceland";
$tz["IN"]="India";
$tz["ID"]="Indonesia";
$tz["IR"]="Iran, Islamic Republic of";
$tz["IQ"]="Iraq";
$tz["IE"]="Ireland";
$tz["IM"]="Isle of Man";
$tz["IL"]="Israel";
$tz["IT"]="Italy";
$tz["JM"]="Jamaica";
$tz["JP"]="Japan";
$tz["JE"]="Jersey";
$tz["JO"]="Jordan";
$tz["KZ"]="Kazakhstan";
$tz["KE"]="Kenya";
$tz["KI"]="Kiribati";
$tz["KP"]="Korea, Democratic People's Republic of";
$tz["KR"]="Korea, Republic of";
$tz["KW"]="Kuwait";
$tz["KG"]="Kyrgyzstan";
$tz["LA"]="Lao People's Democratic Republic";
$tz["LV"]="Latvia";
$tz["LB"]="Lebanon";
$tz["LS"]="Lesotho";
$tz["LR"]="Liberia";
$tz["LY"]="Libyan Arab Jamahiriya";
$tz["LI"]="Liechtenstein";
$tz["LT"]="Lithuania";
$tz["LU"]="Luxembourg";
$tz["MO"]="Macao";
$tz["MK"]="Macedonia, The Former Yugoslav Republic of";
$tz["MG"]="Madagascar";
$tz["MW"]="Malawi";
$tz["MY"]="Malaysia";
$tz["MV"]="Maldives";
$tz["ML"]="Mali";
$tz["MT"]="Malta";
$tz["MH"]="Marshall Islands";
$tz["MQ"]="Martinique";
$tz["MR"]="Mauritania";
$tz["MU"]="Mauritius";
$tz["YT"]="Mayotte";
$tz["MX"]="Mexico";
$tz["FM"]="Micronesia, Federated States of";
$tz["MD"]="Moldova, Republic of";
$tz["MC"]="Monaco";
$tz["MN"]="Mongolia";
$tz["ME"]="Montenegro";
$tz["MS"]="Montserrat";
$tz["MA"]="Morocco";
$tz["MZ"]="Mozambique";
$tz["MM"]="Myanmar";
$tz["NA"]="Namibia";
$tz["NR"]="Nauru";
$tz["NP"]="Nepal";
$tz["NL"]="Netherlands";
$tz["AN"]="Netherlands Antilles";
$tz["NC"]="New Caledonia";
$tz["NZ"]="New Zealand";
$tz["NI"]="Nicaragua";
$tz["NE"]="Niger";
$tz["NG"]="Nigeria";
$tz["NU"]="Niue";
$tz["NF"]="Norfolk Island";
$tz["MP"]="Northern Mariana Islands";
$tz["NO"]="Norway";
$tz["OM"]="Oman";
$tz["PK"]="Pakistan";
$tz["PW"]="Palau";
$tz["PS"]="Palestinian Territory, Occupied";
$tz["PA"]="Panama";
$tz["PG"]="Papua New Guinea";
$tz["PY"]="Paraguay";
$tz["PE"]="Peru";
$tz["PH"]="Philippines";
$tz["PN"]="Pitcairn";
$tz["PL"]="Poland";
$tz["PT"]="Portugal";
$tz["PR"]="Puerto Rico";
$tz["QA"]="Qatar";
$tz["RE"]="Reunion";
$tz["RO"]="Romania";
$tz["RU"]="Russian Federation";
$tz["RW"]="Rwanda";
$tz["SH"]="Saint Helena";
$tz["KN"]="Saint Kitts and Nevis";
$tz["LC"]="Saint Lucia";
$tz["PM"]="Saint Pierre and Miquelon";
$tz["VC"]="Saint Vincent and The Grenadines";
$tz["WS"]="Samoa";
$tz["SM"]="San Marino";
$tz["ST"]="Sao Tome and Principe";
$tz["SA"]="Saudi Arabia";
$tz["SN"]="Senegal";
$tz["RS"]="Serbia";
$tz["SC"]="Seychelles";
$tz["SL"]="Sierra Leone";
$tz["SG"]="Singapore";
$tz["SK"]="Slovakia";
$tz["SI"]="Slovenia";
$tz["SB"]="Solomon Islands";
$tz["SO"]="Somalia";
$tz["ZA"]="South Africa";
$tz["GS"]="South Georgia and The South Sandwich Islands";
$tz["ES"]="Spain";
$tz["LK"]="Sri Lanka";
$tz["SD"]="Sudan";
$tz["SR"]="Suriname";
$tz["SJ"]="Svalbard and Jan Mayen";
$tz["SZ"]="Swaziland";
$tz["SE"]="Sweden";
$tz["CH"]="Switzerland";
$tz["SY"]="Syrian Arab Republic";
$tz["TW"]="Taiwan, Province of China";
$tz["TJ"]="Tajikistan";
$tz["TZ"]="Tanzania, United Republic of";
$tz["TH"]="Thailand";
$tz["TL"]="Timor-leste";
$tz["TG"]="Togo";
$tz["TK"]="Tokelau";
$tz["TO"]="Tonga";
$tz["TT"]="Trinidad and Tobago";
$tz["TN"]="Tunisia";
$tz["TR"]="Turkey";
$tz["TM"]="Turkmenistan";
$tz["TC"]="Turks and Caicos Islands";
$tz["TV"]="Tuvalu";
$tz["UG"]="Uganda";
$tz["UA"]="Ukraine";
$tz["AE"]="United Arab Emirates";
$tz["US"]="United States";
$tz["UM"]="United States Minor Outlying Islands";
$tz["UY"]="Uruguay";
$tz["UZ"]="Uzbekistan";
$tz["VU"]="Vanuatu";
$tz["VE"]="Venezuela";
$tz["VN"]="Viet Nam";
$tz["VG"]="Virgin Islands, British";
$tz["VI"]="Virgin Islands, U.S.";
$tz["WF"]="Wallis and Futuna";
$tz["EH"]="Western Sahara";
$tz["YE"]="Yemen";
$tz["ZM"]="Zambia";
$tz["ZW"]="Zimbabwe";
$print = '<option value="">Please Select</option>'."\n";
$user = Auth::getUser();
foreach($tz as $code => $name){
    if($code == $user->ok_invoice_country)
        $print .= '<option value="'.$code.'" selected="selected">'.$name.'</option>'."\n";
    else
        $print .= '<option value="'.$code.'">'.$name.'</option>'."\n";
}
$this['country_selector']=$print;

}
?>
==
{{country_selector|raw}}