description = "foot-no-js"

[viewBag]
==
<!-- Bootstrap needed fields -->
<div id="str_status_msg_onSearchStart" style="display:none;">Searching...</div>
<div id="str_status_msg_onSelect"	   style="display:none;">Searching...</div>
<div id="str_status_msg_searchSubmit"  style="display:none;">Searching...</div>
<!-- Bootstrap core JavaScript -->
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script-->
<!--script src="/app/ot/assets/bs3/js/bootstrap.min.js"></script-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--script src="app/ot/assets/bs3/js/ie10-viewport-bug-workaround.js"></script-->


<!--script src="/app/ot/assets/libs/jQuery-Autocomplete/src/jquery.autocomplete.js"></script-->
<!--script src="/app/ot/assets/libs/responsive-placeholder-images/responsive-placeholder-images.js"></script-->
<!--script src="/app/ot/assets/libs/Readmore.js/readmore.js"></script-->
<!--script src="/app/ot/assets/libs/jQuery-dotdotdot/src/js/jquery.dotdotdot.js"></script-->
<!--script src="/app/ot/assets/js/oktick.js"></script-->
<noscript>
<div id="noscript-warning">OKTicK works best with JavaScript enabled</div>
</noscript>
</body>
</html>
