description = "foot"

[viewBag]
==
<?php
function onStart(){
    $this->addJs('/app/ot/assets/js/oktick.js');
    if (env("APP_ENV") == "development"){
        $this->addJs('/app/ot/assets/js/edit.js');
        $this->addJs('/app/ot/assets/js/redact.js');
    }
}
?>
==
<!--[if lt IE 10]>
<script src="/app/ot/assets/js/ie10.js"></script>
<![endif]-->
{% scripts %}
<noscript>
    {% if user %}
        <div id="noscript-warning" class="alert alert-danger">
            The accounts section of OKTicK requires that JavaScript is enabled
        </div>
        <div>
            You <strong>must</strong> <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser to continue.
        </div>"
    {% else %}
        <div id="noscript-warning" class="alert alert-danger">
            OKTicK works best with JavaScript enabled
        </div>
    {% endif %}">
</noscript>
{% flash %}
    <div id="top-alert" class="slideup alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
{% endflash %}
<script>$(".slideup").delay(20000).slideUp(300);</script>
<div id="cookie-lawe" class="collapse">
    <div>
        <h4 id="cookie-law-H4">We do use cookies on our site...</h4>
        <p id="cookie-law-p">We use them to ensure that we give you the best user experience possible. If you continue without changing your browser's settings, we'll assume that you are happy to receive them.</p>
        <a class="enlace text-center" href="/privacy-policy">Please see our privacy policy for full details on how we use cookies.</a>
        <a class="close-cookie-banner" href="javascript:void(0);" onclick="$(this).parent().parent().hide();createCookie(365,false);"><span>Close</span></a>
    </div>
</div>
</body>
</html>