[viewBag]
==
<!--
	Include gumby.js followed by UI modules.
	Or concatenate and minify into a single file
	<script src="{{ 'assets/js/libs/gumby.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.retina.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.fixed.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.skiplink.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.toggleswitch.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.checkbox.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.radiobtn.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.tabs.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.navbar.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/gumby.fittext.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/ui/jquery.validation.js'|theme }}"></script>
	<script src="{{ 'assets/js/libs/gumby.init.js'|theme }}"></script>
	-->

	<script gumby-debug src="{{ 'assets/js/libs/gumby.min.js'|theme }}"></script>