[viewBag]
==
<div id="str_status_msg_default" style="display:none;"></div>
<div id="str_page_url" style="display:none;"></div>
<div id="str_status_msg_onSearchStart" style="display:none;">Searching...</div>
<div id="str_status_msg_onSearchComplete" style="display:none;"></div>
<div id="str_status_msg_onSelect" style="display:none;">Searching...</div>
<div id="str_status_msg_searchSubmit" style="display:none;">Searching...</div>
<!--div id="str_status_msg_onSearchStart_R" style="display:none;"></div-->
<!--div id="str_status_msg_onSelect_R" style="display:none;"></div-->
<!--div id="str_status_msg_searchSubmit_R" style="display:none;"></div-->
{% partial 'footer-load-jquery' %}
{% partial 'footer-load-gumby' %}
<script src="{{ 'assets/libs/jQuery-Autocomplete/src/jquery.autocomplete.js'|theme }}"></script>
<script src="{{ 'assets/libs/jQuery-form/jquery.form.min.js'|theme }}"></script>
<!--script src="{{ 'assets/libs/jQuery-taconite/jquery.taconite.js'|theme }}"></script-->
<script src="{{ 'assets/libs/responsive-placeholder-images/responsive-placeholder-images.js'|theme }}"></script>
<!--script src="{{ 'assets/libs/jQuery-readmore/readmore.js'|theme }}" type="text/javascript"></script-->
<script src="{{ 'assets/libs/Readmore.js/readmore.js'|theme }}" type="text/javascript"></script>
<script src="{{ 'assets/libs/jQuery-dotdotdot/src/js/jquery.dotdotdot.js'|theme }}" type="text/javascript"></script>
<script>
	/*
    params: 'l=jfdksl',
	https://github.com/devbridge/jQuery-Autocomplete
	*/
$('#autocomplete-ajax').autocomplete({
	/**/
	//	serviceUrl: '/', SEE THE SOURCE OF AUTOCOMPLETE
	//params: {"s": "", "t": ""},
	paramName: 'q',
    preventBadQueries: false,
    tabDisabled: true,
    autoSelectFirst: false,
    deferRequestBy: 800,
    noCache: true,
    triggerSelectOnValidInput: false,
    onSearchStart: function (query) {
    	$("#autocomplete-ajax").css({"background": "url({{ 'assets/img/searchip.gif'|theme }}) no-repeat right center"});
		 	$( "#str_status_msg" ).html($( "#str_status_msg_onSearchStart" ).html());
//		 	$( "#str_status_msg_right" ).html($( "#str_status_msg_onSearchStart_R" ).html());

		//$('#autocomplete-ajax').autocomplete().setOptions({	deferRequestBy: 400	});
    },
    onSearchComplete: function (query, suggestions) {
    	$("#autocomplete-ajax").css({"background": "url({{ 'assets/img/searchoff.gif'|theme }}) no-repeat right center"});
//		$( "#str_status_msg" ).html('Put in your Keyword (e.g. Pump or Valve)');
    },
    onSelect: function (suggestion) {
    	document.getElementById('autocomplete-ajax').focus();
        $("#autocomplete-ajax").autocomplete().hide();
        $("#autocomplete-ajax").css({"background": "url({{ 'assets/img/searchoff.gif'|theme }}) no-repeat right center"});
        $("#str_status_msg" ).html($( "#str_status_msg_onSelect" ).html());
//        $("#str_status_msg_right" ).html($( "#str_status_msg_onSelect_R" ).html());
        $("#autocomplete-suggestions" ).hide();
        $("#autocomplete-ajax").focus();
        return "#!" + suggestion.value;
    },
    populateTextField: false,
    transformResult: function(response_raw, originalQuery) {
        response = typeof response_raw === 'string' ? $.parseJSON(response_raw) : response_raw;
        var suggestions = response.suggestions;
        if ( ! suggestions ) return response;
        if ( ! suggestions.length ) return response;
        response.suggestions.forEach(function(value, index, theArray) {
            theArray[index] = str_replace('"','"',value);
        });
        var message = decodeURIComponent(suggestions.pop());
        message = str_replace(" ","",message);
        //alert(message);
        //if ( message.substring(0,10) != "<messages>" ) return response;
        printInstructionsLeft(message);
    	if( suggestions.length == 1){
    		$('#autocomplete-ajax').autocomplete().hide();
			//$('#autocomplete-ajax').autocomplete().setOptions({	deferRequestBy: 400000	});


    		//$('#autocomplete-ajax').autocomplete().disable();
    	}
   		response["suggestions"] = suggestions;
	 		return response;
	 	},
	});

function printInstructionsLeft(message){
    $("#str_status_msg").html(decodeURIComponent(message));
}

function searchSubmit(){
   	$( "#autocomplete-ajax").css({"background": "url({{ 'assets/img/searchip.gif'|theme }}) no-repeat right center"});
    $( "#str_status_msg" ).html($( "#str_status_msg_searchSubmit" ).html());
//    $( "#str_status_msg_right" ).html($( "#str_status_msg_searchSubmit_R" ).html());

  	var queryvalue = encodeURIComponent(get_clean_value('autocomplete-ajax'));
  	var url = '/' + queryvalue;
  	search_reset();
    //$( "#autocomplete-ajax" ).val('');
    window.location.replace(url);
}

function get_clean_value(id){
  	var tmp = document.getElementById(id).value;
  	tmp = tmp.replace(/\//g,' ');
  	tmp = encodeURIComponent(tmp);
  	return tmp;
}

function get_clean_innerHTML(id){
  	var tmp = document.getElementById(id).innerHTML;
  	tmp = tmp.replace(/\//g,' ');
  	tmp = encodeURIComponent(tmp);
  	return tmp;
}

function search_reset(){
   	$( "#autocomplete-suggestions" ).hide();
   	$( "#autocomplete-ajax").css({"background": "url({{ 'assets/img/searchoff.gif'|theme }}) no-repeat right center"});
//	$( "#str_status_msg_right" ).html('');
	$( "#str_status_msg" ).html('Enter Keyword (e.g. Tools, Boots, etc)');
	$( "#str_status_msg_onSearchStart" ).html('');
	$( "#str_status_msg_onSelect" ).html('');
	$( "#str_status_msg_searchSubmit" ).html('');
//	$( "#str_status_msg_searchSubmit_R" ).html('');
	$( "#str_message" ).html( '' );
	$( "#str_message" ).hide();
	$( "#main-tab-title").click();
	$( "#autocomplete-ajax" ).val('');
 	$( "#tabbed_content" ).hide();
 	$( "#results" ).hide();
	position_str_status_msg();
//    var url = '/';
//    window.location.replace(url);
}

  function position_str_status_msg(){
  	var pos_field = $("#autocomplete-ajax").position();
  	var width_field = $("#autocomplete-ajax").width();
  	$("#str_status_msg").css({
      position: "absolute",
      top: (pos_field.top - 24) + "px",
      left: (pos_field.left + 11) + "px",
      display: "block",
      width: width_field +"px",
  	}).show();
  	$("#str_status_msg_right").css({
      position: "absolute",
      top: (pos_field.top - 22) + "px",
      left: ((pos_field.left + 7)+(width_field/2)) + "px",
      display: "block",
      width: (width_field/2) +"px",
  	}).show();
  	$('#autocomplete-ajax').focus();
  }

    function convert_links_to_ajax() {
        var menu = "/_";
        var menulength = menu.length;
        $("a, area").click(function() {
            var href = $(this).attr("href");
            if (href == "#") return true;
            var is_menu = strpos(href,menu);
//            alert(is_menu + " | " + href + " | " + href.substr(1, menulength) + "=" + menu);
            if(is_menu !== false) return true;
            if (href.indexOf(document.domain) > -1 || href.indexOf(':') === -1) {
            history.pushState({}, '', href);
            $.get(href);
            return false;
        }
    });
    }
    
    function readmore_init() {
        console.log("readmore_init inits");
        $('.wrapper').each(function() {
       	try {
            if($(this).innerHeight() > 0){
                console.log("readmore_init " + $(this).attr("Class"));
                $(this).readmore({
                  moreLink: '<a href="#" class="read-more-link">[+]</a>',
                  lessLink: '<a href="#" class="read-less-link">[–]</a>',
                  maxHeight: 50,
                  speed: 200,
                });
            }
        }
		catch(err) {
             console.log("readmore_init error:" + err.message);
		}
        });
    };

    function dotdotdot_init() {
        console.log("dotdotdot_init inits");
        $('.wrapper').each(function() {
            console.log("dotdotdot_init inits");
            $(this).dotdotdot({
                ellipsis     : '...',
                watch        : true,
                wrap         : 'word',
                fallbackToLetter: true,

                height       : parseInt( $('.wrapper').css('line-height'), 10) * 2, // this is the number of lines
            });

        });
    };

	function str_replace(search,replace,subject){
		return subject.split(search).join(replace);
	}

	$( document ).ready(function() {
    	if (!window.console) console = {};
        console.log = console.log || function(){};
        console.warn = console.warn || function(){};
        console.error = console.error || function(){};
        console.info = console.info || function(){};

		position_str_status_msg();
		convert_links_to_ajax();
        //history.pushState(data, event.target.textContent, event.target.href);
        var stateObj = { foo: "bar" };
        history.pushState(stateObj, "", location.href);

	 	$( window ).on("popstate", function(e) {
    	    if (e.originalEvent.state !== null) {
              	window.location.href = location.href;
    		//    window.location.replace(location.href);
        	}
  	    });
	});

	$(document).on("keypress", "#autocomplete-ajax", function(e) {
        if (e.which == 13) {
        	$( ".autocomplete-suggestions" ).hide();
		    	searchSubmit();
			    return false;
        }
	});

function strpos (haystack, needle, offset) {
    var i = (haystack+'').indexOf(needle, (offset || 0));
    return i === -1 ? false : i;
}

</script>



<!--
/*
	3085d6 blue color of buttons
    $(document).ready(function() {
        // bind 'myForm' and provide a simple callback function
        $('#okticksearch').ajaxForm(function() {
	        alert("Thank you for your comment!");
        });
    });
*/
-->
	<!-- Change UA-XXXXX-X to be your site's ID -->
	<!--<script>
	window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
	Modernizr.load({
	  load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
	});
	
	</script>-->

	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
<!-- Start Mailchinp Code -->

<!--script type="text/javascript" src="{{ 'assets/libs/popup/embed.js'|theme }}" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
/*
require(["mojo/signup-forms/Loader"], 
        function(L) { 
            L.start({
                "baseUrl":"mc.us9.list-manage.com",
                "uuid":"50dd2de65273a7f55ee2b6bcb",
                "lid":"a72de24536"
            }) 
        })
*/
</script-->
<!-- End Mailchinp Code -->
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent >
<link rel="stylesheet" type="text/css" href="{{ 'assets/libs/cookie-law/cookie-law.css'|theme }}"/>
<script type="text/javascript" src="{{ 'assets/libs/cookie-law/cookie-law.js'|theme }}"></script>
<script type="text/javascript">
// <![CDATA[
cc.initialise({
	cookies: {
		necessary: {}
	},
});
// ]]>
</script>
End Cookie Consent plugin -->
<!-- Start Analytics Code -->
<!--script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.oktick.com/api/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script-->
<noscript><p><img src="//www.oktick.com/api/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Analytics Code -->
</div><!-- End Container Div -->
</body>
</html>