description = "nav-bottom"

[viewBag]
==
<?php
function onStart(){

    //dd($_SERVER);

    $host = gethostname();
    if(strpos($host, ".") !== false){
        $host = substr(gethostname(),0,strpos(gethostname(),"."));
    }
   if(env('APP_ENV') == "production"){
        $this['host']=$host.rand(1,20);
    }
    elseif(env('APP_ENV') == "development"){
        $this['host']=strtoupper($host)." - DEVELOPMENT";
    }

    //exit;
    $this['host']=$host.rand(1,20);
}
?>
==
<footer class="footer navbar-default">
<div class="container">
<p class="navbar-text"><small>Served by {{host}}, &copy; 2002-{{ "now"|date("Y") }} Clive H. Whittaker</small></p>
<ul class="nav navbar-nav navbar-right">
<li class="{% if this.page.id == "pages-terms-and-conditions" %}active{% endif %}"><a class="navbar-bottom" href="/terms-and-conditions"><small>Terms and Conditions</small></a></li>
<li class="{% if this.page.id == "pages-privacy-policy" %}active{% endif %}"><a class="navbar-bottom" href="/privacy-policy"><small>Privacy Policy</small></a></li>
<li class="{% if this.page.id == "pages-disclaimer" %}active{% endif %}"><a class="navbar-bottom" href="/disclaimer"><small>Disclaimer</small></a></li>
<li class="{% if this.page.id == "pages-about-us" %}active{% endif %}"><a class="navbar-bottom" href="/about-us"><small>About Us</small></a></li>
</ul>
</div>
{% partial "page-data" %}
</footer>
