description = "nav-bottom"

[viewBag]
==
<footer class="footer navbar-default">
<div class="container">
<p class="navbar-text">Copyright &copy; 2002-2015 Clive H. Whittaker</p>
<ul class="nav navbar-nav navbar-right">
<li class="{% if this.page.id == "pages-terms-and-conditions" %}active{% endif %}"><a class="navbar-bottom" href="/terms-and-conditions">Terms and Conditions</a></li>
<li class="{% if this.page.id == "pages-privacy-policy" %}active{% endif %}"><a class="navbar-bottom" href="/privacy-policy">Privacy Policy</a></li>
<li class="{% if this.page.id == "pages-disclaimer" %}active{% endif %}"><a class="navbar-bottom" href="/disclaimer">Disclaimer</a></li>
<li class="{% if this.page.id == "pages-about-us" %}active{% endif %}"><a class="navbar-bottom" href="/about-us">About Us</a></li>
</ul>
</div>
{% partial "page-data" %}
</footer>