description = "nav-top"

[viewBag]
==
<?php
function onInit(){
    $this['activationcode'] = $this->param('activationcode');
//    if (! Auth::check()) return;
//    $this['user'] = $user=Auth::getUser();
}

function onStart(){
    if ( Request::segment(1) == "logout"){
        $this['logout'] = true;
    } else {
        $this['logout'] = false;
    }
    $user = Auth::getUser();
    if (! $user ) return;
    $now = time();
    $this['ok_free_credits'] = $Amount = $user->ok_free_credits;
    $next_transaction_date = date( 'Y-m-d H:i:s',strtotime($user->ok_free_credits_datetime ."+ 7 days") );
    if($user->ok_credits >= $user->ok_free_credits){
        $this['ok_free_credits_button'] = "nocredit";
        return;
    }
    if( $now < strtotime($user->ok_free_credits_datetime ."+ 7 days") ){
        $this['ok_free_credits_button'] = "notime";
        $this['ok_free_credits_days'] = intval(((strtotime($user->ok_free_credits_datetime ."+ 7 days")-$now)/60/60/24)+1);
        return;
    }
    $this['ok_free_credits_button'] = "free";
}
?>
==
<nav class="navbar navbar-default nav-top navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oktick-top-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
{% if this.page.id != "main" %}
            <a class="navbar-brand {% if (this.page.id == "account-ranking-todo") and (activationcode) %}addspeech{% endif %} "
                href="/{{activationcode}}" style="height:50px;"
                data-toggle="tooltip"
                data-trigger="hover"
                data-placement="bottom"
                title="Click to Search"
                rel="navbarbrand">
                <span class="glyphicon glyphicon-primary glyphicon-search" aria-hidden="true">
{% else %}
            <a  class="navbar-brand " href="/{{activationcode}}" style="height:50px;" rel="navbarbrand">
                <span class="glyphicon glyphicon-primary glyphicon-home" aria-hidden="true">
{% endif %}
                <img
                    src="/app/ot/assets/img/oktick-nav.png"
                    alt="OKTicK"
                    height="14px"
                    style="margin:0 0 3px 0;padding: 0 0 0 0"
                ></span>
            </a>
        </div>
        <!--div class="navbar-header pull-right collapse navbar-collapse" id="oktick-top-navbar"-->
        <div class="collapse navbar-collapse" id="oktick-top-navbar">
{% if user %}
                <ul class="nav navbar-nav nav-top">
                    <li class="{% if (this.page.id == "main") and (activationcode) and (user.ok_credits == 0) %}addspeech{% endif %} {% if this.page.id == "account-ranking" %}active{% endif %}" rel="navbarrankings">
                        <a href="/account/ranking/{{ activationcode }}">Search Booster <span
                            id="badge_active"
                            class="badge_active badge {% if user.ok_sponored_products_count %}badge-success{%else%}badge-primary{% endif %} badge-menu"
                            data-toggle="tooltip"
                            data-trigger="hover"
                            data-placement="bottom"
                            title="Number of elevated Products and Services">
                            {% if user.ok_sponored_products_count %}{{user.ok_sponored_products_count}}{%else%}0{% endif %}
                            </span>
                        </a>
                    </li>
{% if (user.ok_free_credits_datatime != '0000-00-00 00:00:00') and (user.ok_free_credits_datatime != '') %}
                    <li class="{% if (this.page.id == "account-credit-todo") and (activationcode) and (user.ok_credits == 0)%}addspeech{% endif %} {% if this.page.id == "account-products-services" %}active{% endif %}" rel="navbarps">
                        <a href="/account/products-services/{{activationcode}}">Products &amp; Services <span
                            id="badge_total"
                            class="badge {% if user.ok_company_products_count %}badge-success{%else%}badge-primary{% endif %} badge-menu"
                            data-toggle="tooltip"
                            data-trigger="hover"
                            data-placement="bottom"
                            title="Total number of products and services on the system"
                            data-content="Total Number of products on system">
                        {% if user.ok_company_products_count %}{{user.ok_company_products_count}}{%else%}0{% endif %}
                            </span>
                        </a>
                    </li>
{% endif %}
{% if (user.ok_free_credits_datatime != '0000-00-00 00:00:00') and (user.ok_free_credits_datatime != '') %}
                    <li class="{% if (this.page.id == "account-ranking-todo") and (activationcode) and (user.ok_credits == 0)%}addspeech{% endif %}  {% if this.page.id == "account-credit" %}active{% endif %}" rel="navbarcredits">
                        <a href="/account/credit/{{activationcode}}">Credits <span
                            id="ok_credits"
                            class="badge {% if user.ok_credits|round(2, 'common') > 0 %}badge-success{%else%}badge-primary{% endif %} badge-menu"
                            data-toggle="tooltip"
                            data-trigger="hover"
                            data-placement="bottom"
                            title="Number of credits"
                            data-content="This shows the number of credits you have on account and available to place on products and services"
                            data-value="{% if user.ok_credits %}{{user.ok_credits}}{%else%}0{% endif %}">{% if user.ok_credits and user.ok_credits > 0 %}{{ user.ok_credits|round(2, 'common') }}{%else%}0{% endif %}</span>
                        </a>
                    </li>
{% else %}
                    <li class="navbar-form">
                        <button 
                        id="ok_credits-holder" 
                        class="btn btn-default"
                        type="button"
                        disabled
                        data-toggle="tooltip" data-trigger="hover" data-placement="bottom"
                        title="This shows the number of credits you have on account and available to place on products and services"
                        >Current Credit:&nbsp;<span id="ok_credits" class="badge badge-success">
                            {% if user.ok_credits and user.ok_credits > 0 %}{{ user.ok_credits|round(2, 'common') }}{%else%}0{% endif %}</span>
                        </button>
                    </li>
{% endif %}
{% if (activationcode) and (user.ok_credits == 0) %}
                    {#% if true %#}
                    <li class="navbar-form">
                        <button 
                        id="btn-claim-free" 
                        class="btn btn-success"
                        data-toggle="tooltip" data-trigger="hover" data-placement="bottom"
                        title="Click to claim your lifetime free credits"
                        onclick="window.location='/account/offer/{{activationcode}}'"
                        >Claim lifetime credits</button>
{% elseif ok_free_credits_button == "free" %}
                    <li class="navbar-form">
                        <button 
                        id="btn-claim-free" 
                        class="btn btn-success"
                        data-toggle="tooltip" data-trigger="hover" data-placement="bottom"
                        title="Click to claim your free credits"
                        >Free Credit</button>
                    </li>
                    <script>
$('#btn-claim-free').click(function(event){
    event.preventDefault();
    
    //console.log("btn-claim-free");
    BootstrapDialog.show({
        title: 'Info:',
    {% if (user.ok_free_credits_datetime == "0000-00-00 00:00:00") or (user.ok_free_credits_datatime == '') %}
        message: 'OK, so you are one of the lucky ones with a free CREDITS FOR LIFE deal.<br>Great, so {{ ok_free_credits }} credits it is!<br><br>'+
                 'Click OK, to get your credits. In a week the "Free Credit" button will again turn green and we\'ll top you up!',
    {% else %}
        message: 'Click OK, to get topped up to {{ ok_free_credits }} credits. In a week the "Free Credit" button will again turn green and we\'ll top you up!',
    {% endif %}
        type: BootstrapDialog.TYPE_PRIMARY,
        size: BootstrapDialog.SIZE_SMALL,
        buttons: [{
            label: 'OK',
            //icon: 'glyphicon glyphicon-remove',
            cssClass: 'btn-primary',
            action: function(dialog) {
                $(this).request('onClaimFree')
//                $.request('onClaimFree', {
  //                  data: {}
//                })
                .always(function( data, textStatus, errorThrown ) {
                    if(data.status=="error"){
                        dialog.close();
                        alert(data.message);
                        console.log(data.log);
                        return;
                    }
                    if(data.status=="success"){
                        console.log(data.log);
                        dialog.close();
                        location.reload(true);
                        return;
                    }
                    dialog.close();
                });
            }
        }]
    });
});
                    </script>
{% elseif ok_free_credits_button == "nocredit" %}
                    <li class="navbar-form"
                        data-toggle="tooltip" data-trigger="hover" data-placement="bottom"
                        title="Use credits before claiming more">
                        <button id="btn-claim-free2" class="btn btn-default" disabled>Free Credit</button>
                    </li>
{% elseif ok_free_credits_button == "notime" %}
                    <li class="navbar-form"
                        data-toggle="tooltip" data-trigger="hover" data-placement="bottom"
                        title="Your next topup will be available in {{ ok_free_credits_days }} day{% if ok_free_credits_days > 1%}s{% endif %} or less">
                        <button id="btn-claim-free1" class="btn btn-default" disabled>Free Credit</button>
                    </li>
{% endif %}
                </ul>
            {% else %}
                <ul class="nav navbar-nav nav-top">
                    <li class="{% if this.page.id == "pages-search-tips" %}active{% endif %}"><a href="/search-tips/{{activationcode}}">Search Tips</a></li>
                    <li class="{% if this.page.id == "pages-why-register" %}active{% endif %}"><a href="/why-register/{{activationcode}}">Why Register?</a></li>
                    <li class="{% if this.page.id == "pages-faq" %}active{% endif %}"><a href="/faq/{{activationcode}}">FAQ</a></li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right nav-top">
                {% if user %}
                    <li class="" rel="navbaraccount">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% if (user.name) and (user.surname) %}{{user.name}}{{"&nbsp;"|raw}}{{user.surname}}{% else %}{{user.email}}{% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Account Administration </li>
                            <li>
                                <a href="/account/details/{{activationcode}}" class="text-left">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span style="text-align:left; !important">
                                        {{"&nbsp;&nbsp;"|raw}}{% if (user.name) and (user.surname) %}{{user.name}}{{"&nbsp;"|raw}}{{user.surname}}{% else %}{{user.email}}{% endif %}
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/password-change/{{activationcode}}">
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    {{"&nbsp;&nbsp;"|raw}}Change Password</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Business Administration</li>
                            <li>
                                <a href="/account/company/{{activationcode}}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    {{"&nbsp;&nbsp;"|raw}}{% if (user.ok_company_name) %}{{user.ok_company_name}}{% else %}{{user.company}}{% endif %}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/{{activationcode}}">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                    {{"&nbsp;&nbsp;"|raw}}Sign Out
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{% if this.page.id == "register" %}active{% endif %}">
                        <a href="/register/{{activationcode}}">
                            <!--span class="glyphicon glyphicon-cog" aria-hidden="true"></span-->&nbsp;Get Started
                        </a>
                    </li>
                    <li class="{% if this.page.id == "login" %}active{% endif %}">
                        <a href="/login/{{activationcode}}" style="text-decoration:none;">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Sign In
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>