description = "search-section"

[viewBag]
==
<!-- Bootstrap needed fields -->
<div id="str_status_msg_onSearchStart" style="display:none;">Searching...</div>
<div id="str_status_msg_onSelect"	   style="display:none;">Searching...</div>
<div id="str_status_msg_searchSubmit"  style="display:none;">Searching...</div>
<div class="row">
    <div class="col-xs-1 col-md-3"></div>
    <div class="col-xs-10 col-md-6">
        <div>
            <div id="str_status_msg">Start with your keyword only e.g. ladder, cleaner, etc.</div>
        </div>
        <div class="input-group input-group-lg">
            <label class="sr-only" for="autocomplete-ajax">Start with your keyword only. E.g. Ladder, Cleaner</label>
            <input class="form-control" type="search" name="q" data-type="Go!" id="autocomplete-ajax" placeholder="Search..." value="{% if search and search != 404 %}{{ search }}{% endif %}" maxlength="50" size="50" />
            <span class="input-group-btn">
                <button id="submit-button" class="btn btn-primary btn-lg" type="button">Go!</button>
            </span>
        </div>
            <!--p class="addspeech" rel="search"></p-->
    </div>
    <div class="col-xs-1 col-md-3"></div>
</div>