title = "Company"
url = "/account/company/:time?"
layout = "main"
is_hidden = "0"
==
<?php
function onStart() {
    try{
        $this['invoices']= DB::select(
            "SELECT download_code, transaction_date, credits_purchased, price_paid, transaction_currency, concat((user_id*10),(id*10)) as invoice_number ".
            "FROM ok_payments ".
            "WHERE ".
            "user_id = ". $this->session->user()->attributes['id'] . " " .
            "ORDER BY transaction_date DESC"
        );
    }
    catch (Exception $e){
        return redirect('/');
    }
}

function onSave() {
    //dd($_POST);
    try{
        $user = $this->session->user();
    }
    catch (Exception $e){
        return redirect('/');
    }

    $ok_company_id = $user->attributes['ok_company_id'];
    $user_id = $user->attributes['id'];

    // Collect input
    $Business_Name        = post('Business_Name');
    $Business_Description = post('Business_Description');
    $ok_invoice_name      = post('ok_invoice_name');
    $ok_invoice_country   = post('ok_invoice_country');
    $ok_invoice_address_1 = post('ok_invoice_address_1');
    $ok_invoice_address_2 = post('ok_invoice_address_2');
    $ok_invoice_city      = post('ok_invoice_city');
    $ok_invoice_state     = post('ok_invoice_state');
    $ok_invoice_zip       = post('ok_invoice_zip');

    // Form Validation
    $validator = Validator::make(
        [
            'Business_Name' => $Business_Name,
            'Business_Description' => $Business_Description,
            'ok_invoice_name' => $ok_invoice_name,
            'ok_invoice_country' => $ok_invoice_country,
            'ok_invoice_address_1' => $ok_invoice_address_1,
            'ok_invoice_address_2' => $ok_invoice_address_2,
            'ok_invoice_city' => $ok_invoice_city,
            'ok_invoice_state' => $ok_invoice_state,
            'ok_invoice_zip' => $ok_invoice_zip,
        ],
        [
            'Business_Name' => 'required|max:255',
            'Business_Description' => 'required|max:255',
            'ok_invoice_name' => 'max:255',
            'ok_invoice_country' => 'max:4',
            'ok_invoice_address_1' => 'max:255',
            'ok_invoice_address_2' => 'max:255',
            'ok_invoice_city' => 'max:255',
            'ok_invoice_state' => 'max:255',
        ]
    );

    if ($validator->fails()) {
        $messages = $validator->messages();
        Flash::error($messages->first());
        return redirect('/account/company/'.time());
//        throw new ApplicationException($messages->first());
    }

    DB::table('oktick.users')->where('id',$user_id)->update(
                        array(
                            'ok_company_name' => $Business_Name,
                            'ok_vendor_data' => $Business_Description,
                            'ok_invoice_name' => $ok_invoice_name,
                            'ok_invoice_country' => $ok_invoice_country,
                            'ok_invoice_address_1' => $ok_invoice_address_1,
                            'ok_invoice_address_2' => $ok_invoice_address_2,
                            'ok_invoice_city' => $ok_invoice_city,
                            'ok_invoice_state' => $ok_invoice_state,
                            'ok_invoice_zip' => $ok_invoice_zip,
                            )
    );
    Flash::success("Settings Saved.");
    return redirect('/account/company/'.time());
//    $to = System\Models\MailSettings::get('sender_email');
//    $params = compact('website','name','email');
//    Mail::sendTo($to, 'yourappname.website::mail.contactform', $params);
}
?>
==
{% partial "head" %}
{% partial "nav-top" %}

<div class="container">
<br>
<h2 class="text-center">Business Details<br>
<span class="text-center" style="font-size:14px;">(Click here <span id="ok_help_company_on" class="help glyphicon-primary glyphicon glyphicon-question-sign"></span> for help)</span>
</h2>
<div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div id="ok_help_company" {% if user.ok_help_company==0 %}class="collapse"{% endif %} >
            <p>{{"&nbsp;&nbsp;&nbsp;"|raw}}</p>
                <p>On this page you can amend your business details.</p>
                <p>Once you purchased credits this page will give you the possibility to edit your invoice details.</p>
                <p>Once you have provided your invoice details you can generate invoices for any credit purchases.</p>
            <div class="text-center">
                <button id="ok_help_company_off" class="btn btn-default btn-sm help"><span class="glyphicon glyphicon-primary glyphicon-thumbs-up"></span>&nbsp;Got it!</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<br>
<br>

<div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        {% if not can('Edit Company') %}{% set disabled = 'disabled' %}{% else %}{% set disabled = '' %}{% endif %}
        <form data-request="onSave">
            <div class="form-group input-group-lg">
                <label for="Business_Name">Business Display Name<br><small></small></label>
                <input type="text" class="form-control" id="Business_Name" placeholder="www.example.com" value="{{ user.ok_company_name }}" name="Business_Name">
            </div>
            <div class="form-group input-group-lg">
                <label for="Business_Description">Business Description<br><small>When you are listed out in a search, apart from your business name this will be what potential customers will see. Therefore you should tell them what goods you sell and services you provide (max 128 letters)</small></label>
                <input type="text" class="form-control" id="Business_Description" placeholder="E.g. &quot;stainless steel & exotic alloy valves&quot; or &quot;oak & pinewood furniture&quot;" value="{{ user.ok_vendor_data }}" name="Business_Description">
            </div>
            <br>
{%if invoices %}
            <h3>Invoicing Details</h3>
            <div class="form-group input-group-lg">
                <label for="business-name">Business Invoicing Name</label>
                <input type="text" class="form-control" id="business-name" placeholder="Name" name="ok_invoice_name" value="{{ user.ok_invoice_name }}">
            </div>
            <!--div class="form-group input-group-lg">
                <label for="business-size">Number of employees</label>
                <select class="form-control" id="business-size">
                    <option value="">Please Select</option>
                    <option value="1">1 employee</option>
                    <option value="2-9">2-9 employees</option>
                    <option value="10-19">10-19 employees</option>
                    <option value="20-49">20-49 employees</option>
                    <option value="50-99">50-99 employees</option>
                    <option value="100-199">100-199 employees</option>
                    <option value="200-349">200-349 employees</option>
                    <option value="350-999">350-999 employees</option>
                    <option value="1000-2999">1000-2999 employees</option>
                    <option value="3000+">3000+ employees</option>
                </select>
            </div-->
            <div class="form-group input-group-lg">
                <label for="business-country">Country/Region</label>
                <select class="form-control" id="business-country" name="ok_invoice_country">
                {% partial "country-selector" country=user.ok_invoice_country %}
                </select>
            </div>
            <div class="form-group input-group-lg">
                <label for="business-address-line-1">Business address</label>
                <input type="text" class="form-control" id="business-address-line-1" placeholder="Line 1" value="{{ user.ok_invoice_address_1 }}" name="ok_invoice_address_1">
                <label for="business-address-line-2" class="sr-only">Business Address Line 2</label>
                <input type="text" class="form-control" id="business-address-line-2" placeholder="Line 2" value="{{ user.ok_invoice_address_2 }}" name="ok_invoice_address_2">
            </div>
            <div class="form-group input-group-lg">
                <label for="business-city">City/Town</label>
                <input type="text" class="form-control" id="business-city" placeholder="City" value="{{ user.ok_invoice_city }}" name="ok_invoice_city">
            </div>
            <div class="form-group input-group-lg">
                <label for="business-state">County/State</label>
                <input type="text" class="form-control" id="business-state" placeholder="West Sussex / Florida" value="{{ user.ok_invoice_state }}" name="ok_invoice_state">
            </div>
            <div class="form-group input-group-lg">
                <label for="business-postcode">Postcode/ZIP code</label>
                <input type="text" class="form-control" id="business-postcode" placeholder="RH19 4JY / 33756" value="{{ user.ok_invoice_zip }}" name="ok_invoice_zip">
            </div>
{% endif %}
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
{%if invoices and user.ok_invoice_name and user.ok_invoice_country and user.ok_invoice_address_1 and user.ok_invoice_city %}
<div class="row">
    <div class="col-xs-1 col-md-0"></div>
    <div class="col-xs-10 col-md-12">
        <div class="text-center" id="purchase_history_show">
            <button class="btn btn-default btn-lg" onclick="$('#purchase_history').show();$('#purchase_history_show').hide();$('#purchase_history_hide').show();">Show Purchase History</button>
        </div>
        <div class="text-center collapse" id="purchase_history_hide">
            <button class="btn btn-default btn-lg" onclick="$('#purchase_history').hide();$('#purchase_history_show').show();$('#purchase_history_hide').hide();">Hide Purchase History</button>
        </div>
        <div id="purchase_history" class="collapse">
            <h3>Purchase History</h3>
            <table class="table table-bordered table-striped">
                <tr class="">
                    <th class="text-center">Invoice<br>Number</th>
                    <th class="text-center">Invoice<br>Date</th>
                    <th class="text-center">Credits<br>Purchased</th>
                    <!--th class="text-center">Sales<br>Tax</th-->
                    <!--th class="text-center">Payment<br>Method</th-->
                    <th class="text-center">Amount<br>Paid</th>
                    <th class="text-center">Transaction<br>Currency</th>
                    <th class="text-center">Display<br>Invoice</th>
                    <!--th class="text-center">Download<br>Invoice</th-->
                </tr>
                {% for invoice in invoices %}
                    <tr class="">
                        <td class="text-center" style="vertical-align: middle">
                            {{ invoice.invoice_number }}
                        </td>
                        <td class="text-center" style="vertical-align: middle">
                            {{ invoice.transaction_date|date("j M Y") }}
                        </td>
                        <td class="text-center" style="vertical-align: middle">
                            {{ invoice.credits_purchased }}
                        </td>
                        <td class="text-center" style="vertical-align: middle">
                            {{ ((invoice.price_paid)/100)|number_format(2, '.', ',') }}
                        </td>
                        <td class="text-center" style="vertical-align: middle">
                            {{ invoice.transaction_currency|upper }}
                        </td>
                        <td class="text-center" style="vertical-align: middle">
                            <a class="btn btn-primary"
                               href="/account/invoice/{{ invoice.download_code}}"
                               role="button" target="_blank">
                                <span style="vertical-align: middle" class="glyphicon glyphicon-print" aria-hidden="true"></span>
                            </a>
                        </td>
                        <!--javascript:window.print()-->
                        <!--td class="text-center" style="vertical-align: middle">
                            <a class="btn btn-primary"
                               href="javascript:download('{{ invoice.download_code}}')"
                               role="button">
                                <span style="vertical-align: middle" class="glyphicon glyphicon-print" aria-hidden="true"></span>
                            </a>
                        </td-->
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-xs-1 col-md-0"></div>
</div>
{% endif %}


</div><!--/container -->
<iframe id="invoice" style="display:none"></iframe>
<!-- page specific javascript goes here-->
<script>
function download(download_code)
{
    $.oc.stripeLoadIndicator.show();
    var ifrm = document.getElementById('invoice');
    ifrm.src = 'https://www.oktick.com/account/pdf_invoice/'+download_code;
}
function printme(download_code)
{
    $.oc.stripeLoadIndicator.show();
    //var ifrm = document.getElementById('invoice');
    //ifrm.src = 'https://www.oktick.com/account/pdf_invoice/'+download_code;
}
$('#invoice').load(function(){
    $.oc.stripeLoadIndicator.hide();
});
</script>

{% partial "nav-bottom" %}
{% partial "foot" %}