title = "Password Change"
url = "/account/password-change/:activationcode?"
layout = "main"
is_hidden = "0"
==
<?php
function verifyPost($post_name,$check="int"){
    if( !isset($_POST[$post_name]) ) return false;
    $post_val_raw = post($post_name);
    if($check=="int") $post_val_cast = (int) $post_val_raw;
    if($check=="float") $post_val_cast = (float) $post_val_raw;
    if($check=="string") $post_val_cast = (string) $post_val_raw;
    if( $post_val_raw <> $post_val_cast ) return false;
    return $post_val_cast;
}

function onInit() {
    $this['activationcode'] = $this->param('activationcode');
    if (! Auth::check()) {
        return redirect("/".$this['activationcode']);
    }
}

function onStart() {
    if( !isset($_POST['new-password-1']) OR !isset($_POST['new-password-2']) OR !isset($_POST['current-password']) ) {
        return;
    }
    if( !$_POST['new-password-1'] OR !$_POST['new-password-2'] OR !$_POST['current-password']){
        Flash::error("Sorry, all fields are required. Please rinse and repeat.");
        return;
    }
    if($_POST['new-password-1'] <> $_POST['new-password-2']){
        Flash::error("New passwords don't match. Please rinse and repeat.");
        return;
    }
    $new_password = $this->verifyPost('new-password-1',"string");
    $old_password = $this->verifyPost('current-password',"string");
    $user=Auth::getUser();
    if (! Hash::check($old_password, $user->password) ) {
        Flash::error("Old password incorrect. Please rinse and repeat.");
        return;
    }
    try{
        $user->password = $new_password;//Hash::make($new_password);
        $user->password_confirmation = $new_password;
        $user->save();
        Auth::login($user->reload(), true);
    } catch (Exception $e) {
        Flash::error("Please rinse and repeat.".$e->getMessage());
        return;
    }
    Flash::success("Password changed successfully!");
    return redirect("/".$this['activationcode']);

    //    $password = Hash::make('secret');
    //    $password = bcrypt('secret');
    //Verifying A Password Against A Hash
    //Checking If A Password Needs To Be Rehashed
    //    if (Hash::needsRehash($hashed)) {
    //        $hashed = Hash::make('secret');
    //    }
}
?>
==
{% partial "head" %}
{% partial "nav-top" %}
<div class="container">
<br>
<h2 class="text-center">Change Password<br>
<span class="text-center {% if user.ok_help_password %}collapse{% endif %}" id="ok_help_password_sign" style="font-size:14px;">(Click here <span id="ok_help_password_on" class="help glyphicon-primary glyphicon glyphicon-question-sign"></span> for help)</span>
</h2>
<div class="row" {% if user.ok_help_password==0 %}class="collapse"{% endif %}>
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div id="ok_help_password"><br>
            <p>On this page you can change your password providing you know your current one.</p>
            <div class="text-center">
                <button id="ok_help_password_off" class="btn btn-default btn-sm help"><span class="glyphicon glyphicon-primary glyphicon-thumbs-up"></span>&nbsp;Got it!</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<div class="row">
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-10 col-md-8">
        <form id="update_account_form" action="" method="post">
            <span {% if activation %} class="collapse"{% endif %}>
            <h3>Password Verification</h3>
            <div class="form-group has-feedback input-group-lg">
                <label class="control-label" for="current-password">Current Password</label>
                <input class="form-control" id="current-password" name="current-password" aria-describedby="current-password" {%if cp%}value="{{cp}}" type="text"{%else%}type="password"{%endif%}>
                <span class="glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                <span id="current-password-status" class="sr-only">(success)</span>
            </div>
            </span>
            
            <h3>Set Password</h3>
            <div class="form-group has-feedback input-group-lg">
                <label class="control-label" for="new-password-1">Choose a password (Good ones are unique, easy to remember but hard to guess)</label>
                <input type="password" class="form-control" id="new-password-1" name="new-password-1" aria-describedby="new-password-1">
                <span class="glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                <span id="new-password-1-status" class="sr-only">(success)</span>
            </div>
            <div class="form-group has-feedback input-group-lg">
                <label class="control-label" for="new-password-2">Please verify your password</label>
                <input type="password" class="form-control" id="new-password-2" name="new-password-2" aria-describedby="new-password-2">
                <span class="glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                <span id="new-password-2-status" class="sr-only">(success)</span>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-md-2"></div>
</div>
<script>

$('.btn-confirm').click(function(event){
    event.preventDefault();
    var current_password = $("#current-password").val();
    var new_password_1 = $("#new-password-1").val();
    var new_password_2 = $("#new-password-2").val();
    $.request('onPasswordChange', {
        data: {
            current_password: current_password,
            new_password_1: new_password_1,
            new_password_2: new_password_2,
        }
    })
    .always(function( data, textStatus, errorThrown ) {
        if(data.status=="success"){
            console.log(data.log);
            return
        }
        console.log(data.log);
        return
        console.log(textStatus);
        BootstrapDialog.show({
            title: data.title,
            message: data.message,
            type: BootstrapDialog.TYPE_SUCCESS,
            size: BootstrapDialog.SIZE_SMALL,
            buttons: [{
                label: 'OK',
                //icon: 'glyphicon glyphicon-remove',
                cssClass: 'btn-default',
                action: function(dialog) {dialog.close();},
            }]
        });
    });
});
</script>
</div><!--/container -->
{% partial "nav-bottom" %}
{% partial "foot" %}