title = "Password Change"
url = "/account/password-change/:activationcode?"
layout = "main"
is_hidden = "0"

[session]
security = "all"
==
<?php
function verifyPost($post_name,$check="int"){
    if( !isset($_POST[$post_name]) ) return false;
    $post_val_raw = post($post_name);
    if($check=="int") $post_val_cast = (int) $post_val_raw;
    if($check=="float") $post_val_cast = (float) $post_val_raw;
    if($check=="string") $post_val_cast = (string) $post_val_raw;
    if( $post_val_raw <> $post_val_cast ) return false;
    return $post_val_cast;
}

function onInit() {
    $code = Request::segment(3);
    $user_id = "";
    if(!$code) return;
    // Get userid
    $user_id = DB::table('users')->where('activation_code', $code)->pluck('id');
    $username = DB::table('users')->where('activation_code', $code)->pluck('username');
    if( ! $user_id){
        // code not valid
        Flash::error("Activation Code Invalid");
        return redirect("/");
    }        
    // activate user
    DB::table('oktick.users')
        ->where('id', $user_id)
        ->update(array(
            'password' => 'pending',
//                'activation_code'=> null,
            'is_activated'=>1,
            'activated_at'=>null,
    ));
    $this['activation']=true;
    $this['cp']='pending';
    $this['username'] = $username;
    $this->session->user()->attributes['password']=$this['password']='pending';
    $this->session->user()->attributes['id']=$this['user_id']=$user_id;
//    Flash::error("I'm sorry, Dave. I'm afraid I can't do that.".Hash::make($clear_new)."  ".Hash::make($clear_new));
//    return redirect("/");

}
function onStart() {
    if( !isset($_POST['new-password-1']) OR !isset($_POST['new-password-2']) OR !isset($_POST['current-password']) ) return;
    if($_POST['new-password-1'] <> $_POST['new-password-2']){
        Flash::error("New passwords don't match. Please rinse and repeat.");
        return;
    }
    $new_password = $this->verifyPost('new-password-1',"string");
    $old_password = $this->verifyPost('current-password',"string");
    try {
        if(isset($this['password']) AND isset($this['user_id']) AND $this['password']=="pending" ){
            $user_id = $this['user_id'];
            $session_password = $this['password'];
            $username = $this['username'];
        } else {
            $user_id = $this->session->user()->attibutes['id'];
            $session_password = $this->session->user()->attributes['password'];
            $username = $this->session->user()->attributes['username'];
            if (Hash::check($old_password, $session_password) ) {
                Flash::error("Old password incorrect. Try again.");
                return;
            }
        }
        $hash_password = Hash::make($new_password);
        DB::table('oktick.users')
            ->where('id', $user_id)
            ->update(array(
                'password' => $hash_password,
        ));
        $this->session->user()->attributes['password'] = $hash_password;
        if(Auth::authenticate(['login' => $username,'password' => $new_password], true) ){
            Flash::success("Password Set Successfully.");
            return redirect("/account/ranking");
        } else {
        Flash::error("I'm sorry, Dave. I'm afraid I can't do that.");
            return;
        }
    } catch (Exception $e) {
        // looks like we have no user
        Flash::error("I'm sorry, Dave. I'm afraid I can't do that.");
        return redirect("/");
    }

    //    $password = Hash::make('secret');
    //    $password = bcrypt('secret');
    //Verifying A Password Against A Hash
    //Checking If A Password Needs To Be Rehashed
    //    if (Hash::needsRehash($hashed)) {
    //        $hashed = Hash::make('secret');
    //    }
}
?>
==
{% partial "head" %}
{% partial "nav-top" %}
<div class="container">
<br>
<h2 class="text-center">{% if activation %}Set{%else%}Change{%endif%} Password<br>
<span class="text-center" style="font-size:14px;">(Click here <span id="ok_help_password_on" class="help glyphicon-primary glyphicon glyphicon-question-sign"></span> for help)</span>
</h2>

<div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div id="ok_help_password" {% if user.ok_help_password==0 %}class="collapse"{% endif %} >
            <p>{{"&nbsp;&nbsp;&nbsp;"|raw}}</p>
            {% if activation %}
                <p>As the first step you need to set a password for your account. Good passwords are easy to remember and hard to guess.</p>
            {%else%}
                <p>On this page you can change your password providing you know your current one.</p>
            {%endif%}
            <div class="text-center">
                <button id="ok_help_password_off" class="btn btn-default btn-sm help"><span class="glyphicon glyphicon-primary glyphicon-thumbs-up"></span>&nbsp;Got it!</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>

<div class="row">
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-10 col-md-8">
        <form id="update_account_form" action="" method="post">
            <span {% if activation %} class="collapse"{% endif %}>
            <h3>Password Verification</h3>
            <div class="form-group has-feedback">
                <label class="control-label" for="current-password">Current Password</label>
                <input class="form-control" id="current-password" name="current-password" aria-describedby="current-password" {%if cp%}value="{{cp}}" type="text"{%else%}type="password"{%endif%}>
                <span class="glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                <span id="current-password-status" class="sr-only">(success)</span>
            </div>
            </span>
            
            <h3>Set Password</h3>
            <div class="form-group has-feedback">
                <label class="control-label" for="new-password-1">Choose a password</label>
                <input type="password" class="form-control" id="new-password-1" name="new-password-1" aria-describedby="new-password-1">
                <span class="glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                <span id="new-password-1-status" class="sr-only">(success)</span>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="new-password-2">Verify the password</label>
                <input type="password" class="form-control" id="new-password-2" name="new-password-2" aria-describedby="new-password-2">
                <span class="glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                <span id="new-password-2-status" class="sr-only">(success)</span>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-md-2"></div>
</div>
<script>

$('.btn-confirm').click(function(event){
    event.preventDefault();
    var current_password = $("#current-password").val();
    var new_password_1 = $("#new-password-1").val();
    var new_password_2 = $("#new-password-2").val();
    $.request('onPasswordChange', {
        data: {
            current_password: current_password,
            new_password_1: new_password_1,
            new_password_2: new_password_2,
        }
    })
    .always(function( data, textStatus, errorThrown ) {
        if(data.status=="success"){
            console.log(data.log);
            return
        }
        console.log(data.log);
        return
        console.log(textStatus);
        BootstrapDialog.show({
            title: data.title,
            message: data.message,
            type: BootstrapDialog.TYPE_SUCCESS,
            size: BootstrapDialog.SIZE_SMALL,
            buttons: [{
                label: 'OK',
                //icon: 'glyphicon glyphicon-remove',
                cssClass: 'btn-default',
                action: function(dialog) {dialog.close();},
            }]
        });
    });
});
</script>
</div><!--/container -->
{% partial "nav-bottom" %}
{% partial "foot" %}