[submodule "DbConnector"]
	path = themes/oktick/assets/Gumby
	url = https://github.com/GumbyFramework/Gumby.git
[submodule "DbConnector"]
        path = web-hooks
        url = https://github.com/magenx/gitlab-webhook-php.git
