title = "invoice"
url = "/account/invoice/:invoice_id?0"
layout = "main"
is_hidden = "0"
==
<?php
function onStart() {
    try{
        $user = $this->session->user();
    }
    catch (Exception $e){
        return redirect('/');
    }

    $invoice_id = $this->param('invoice_id');
    if( ! $invoice_id ) App::abort(403, 'Forbidden');
    $invoice_id_cast = (string) $invoice_id;
    if( $invoice_id_cast <> $invoice_id ) App::abort(403, 'Forbidden');

    $ok_company_id = $user->attributes['ok_company_id'];
    $user_id = $user->attributes['id'];
    $this['invoices'] = DB::table('ok_payments')->where('download_code', $invoice_id)->where('user_id', $user_id)->first();
    //$this['details'] = DB::table('users')->where('id',$user_id)->first();
    $this['qr'] = \DNS2D::getBarcodeHTML("https://www.oktick.com/account/invoice/$invoice_id", "QRCODE", 3, 3);
}
function verifyPost($post_name,$check="int"){
    if( !isset($_POST[$post_name]) ) App::abort(403, 'Forbidden');
    $post_val_raw = post($post_name);
    if($check=="int") $post_val_cast = (int) $post_val_raw;
    if($check=="float") $post_val_cast = (float) $post_val_raw;
    if($check=="string") $post_val_cast = (string) $post_val_raw;
    if( $post_val_raw <> $post_val_cast ) App::abort(403, 'Forbidden');
    return $post_val_cast;
}
?>
==
{% partial "head" %}
<div class="container">
    <div class="row">
        <div class="center-block">
            <img style="height: 140px; max-height:140px; width:300px; max-width:300px;background-color:#ffffff" 
                 src="/app/ot/assets/img/oktick_Invoice.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <i class="fa fa-search-plus pull-left icon"></i>
                <h2>Invoice for purchase #{{invoices.invoice_number}}</h2>
            </div>
            <hr>
            
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Billing Details</div>
                        <div class="panel-body">
                            <strong>{{user.ok_invoice_name}}</strong><br>
                            {{user.ok_invoice_address_1}}<br>
                            {{user.ok_invoice_address_2}}<br>
                            {{user.ok_invoice_city}}{% if user.ok_invoice_city and user.ok_invoice_state %},&nbsp;{% endif %}{{user.ok_invoice_state}}<br>
                            {{user.ok_invoice_country}}{% if user.ok_invoice_country and user.ok_invoice_zip %}&nbsp;-&nbsp;{% endif %}{{user.ok_invoice_zip}}<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Payment Information</div>
                        <div class="panel-body">
                            <strong>Card Name:</strong> {{invoices.brand}}<br>
                            <strong>Card Number:</strong> ***** {{invoices.last3}}<br>
                            <strong>Exp Date:</strong> {{invoices.exp_month}}/{{invoices.exp_year}}<br>
                        </div>
                    </div>
                </div>
                <!--div class="col-xs-12 col-md-4 col-lg-4 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Order Preferences</div>
                        <div class="panel-body">
                            <strong>Gift:</strong> No<br>
                            <strong>Express Delivery:</strong> Yes<br>
                            <strong>Insurance:</strong> No<br>
                            <strong>Coupon:</strong> No<br>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td class="text-left"><strong>Item Name</strong></td>
                                    <td class="text-center"><strong>Item Price</strong></td>
                                    <td class="text-center"><strong>Currency</strong></td>
                                    <td class="text-center"><strong>Item Quantity</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">Credit Purchase</td>
                                    <td class="text-center">{{ ((invoices.price_paid)/100)|number_format(2, '.', ',') }}</td>
                                    <td class="text-center">{{invoices.transaction_currency}}</td>
                                    <td class="text-center">{{invoices.credits_purchased}}</td>
                                    <td class="text-right">{{ ((invoices.price_paid)/100)|number_format(2, '.', ',') }}</td>
                                </tr>
                                <tr>
                                    <!--td class="emptyrow">{{qr|raw}}</td-->
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-right"><strong>Total </strong>{{ ((invoices.price_paid)/100)|number_format(2, '.', ',') }}</td>
                                </tr>
{%if invoices.salestax %}
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-right">Sales Tax at {{invoices.salestax}}% (included in total) 
                                    {{ ((invoices.price_paid)/10000*invoices.salestax)|number_format(2, '.', ',') }}</td>
                                </tr>
{% endif %}
                                <tr>
                                    <td class="emptyrow">{{qr|raw}}</td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="text-center">Thank you for your custom</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>
</body>
</html>