title = "Unsubscribe"
url = "/unsubscribe/:code"
layout = "main"
is_hidden = "0"
==
<?php
function onInit(){
    $code = Request::segment(2); //   MjE0ITIhZTNiMzYwMDYyMTZmNjhjODQ5NDYwNWQzZTcwYjllZTc=
    if(substr($code,-4)=="done"){
        //Flash::success("You were already removed from further emails!");
        $code=substr($code,0,-4);
        $this['already_done']=true;
    }
    $parts = explode('!', base64_decode($code));
    if (count($parts) < 2) {
        //Flash::error("I'm sorry, Dave. I'm afraid I can't do that.(".$e->getMessage().")");
        Flash::error("I'm sorry, Dave. I'm afraid I can't do that.(faulty code)");
        return redirect("/");
    }
    list($user_id, $hash) = $parts;
    $email = DB::table('users')->where('id', $user_id)->pluck('email');
    $this['activation_code'] = DB::table('users')->where('id', $user_id)->pluck('activation_code');
    if (!$email) {
        Flash::error("I'm sorry, Dave. I'm afraid I can't do that.(no such subscriber)");
        return redirect("/");
    }
    $verifyCode = base64_encode($user_id.'!' . md5($user_id . '!' . $email));
    if ($code != $verifyCode) {
        Flash::error("I'm sorry, Dave. I'm afraid I can't do that.(invalid code)");
        return redirect("/");
    }
}
?>
==
{% partial "head" %}
{% partial "nav-top" %}
<div class="container">
    <div class="row"></div>
</div>
<div class="container">
    {% partial "logo-embeded-defered" %}
    <br>
    <div class="container">
        <div class="row"></div>
    </div>
    {% partial "search-section" datatype="Go!" %}
    <div class="container">
        <div class="row"></div>
    </div>
    <br>
    <div class="container">
        <div class="row"></div>
    </div>
    <div id="results-container"></div>

    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            <div class="slideup">
{% if already_done %}
                <h2 class="text-justified"><small><strong>You were already removed! You will not hear from us again unless you tell us otherwise.</strong></small></h2>
{% else %}
                <h2 class="text-justified"><small><strong>Unsubscribe Successful! You will not hear from us again unless you tell us otherwise.</strong></small></h2>
{% endif %}
                <h2 class="text-justified"><small>You can always try searching for something to see where your business shows up in the search results!</small></h2>
{% if activation_code %}
                <h2 class="text-justified"><small>Should you change your mind or you made a mistake you can use the button below and get you business promoted free and simple.</a></small></h2><br>
            </div>
            <div class="text-center">
                <div class="row">
                    <div class="col-xs-0 col-md-4"></div>
                    <div class="col-xs-12 col-md-4">
                        <a href="activation/{{activation_code}}" role="button" class="btn btn-primary center-block btn-lg">Accept Invitation</a>
                    </div> 
                    <div class="col-xs-0 col-md-4"></div>
                </div>
{% endif %}
            </div>
        </div> 
    <div class="col-xs-0 col-md-3"></div>
</div>

</div><!--/container -->
{% partial "nav-bottom" %}
{% partial "foot" %}