[staticMenu oktickMenu]
code = "oktick-menu"

[staticPage]
==
<?php
function onStart(){
    $debug = strtolower(Input::get("debug"));
    //if (Input::get("debug")===NULL) \Debugbar::disable();
    //elseif($debug=="yes" OR $debug=="y" OR $debug=="true" OR $debug=="1" OR $debug=="" ) \Debugbar::enable();
    //else \Debugbar::disable();
    $this['nbsp'] = " ";
}
?>
==
{% partial "header" cssfile="oktick-search.css" %}
<body style="background-color:#fcfcfc !important;" class="default">
<div class="row" id="body-container" >
{% partial 'menu-top' items=oktickMenu.menuItems %}
{% partial 'back-to-search-button' visibility='visibility: hidden;' %}
{% partial 'logo' %}
{% partial 'search-box' %}
{% partial 'results' %}
{% partial 'copyright' %}
{% partial 'footer' %}