[viewBag]
==
<p class="text-justifiedd">We have sent you an email with a link and a code to reset your password. Some email programs stop links from working correctly, so if you find you are having trouble with the link provided, just copy and paste the code in the form below. Then enter your new password and click on "Reset Password".</p>
<form data-request="{{ __SELF__ }}::onResetPassword" data-request-update="'{{ __SELF__ }}::complete':'#partialUserResetForm'">
    <div class="form-group input-group-lg">
        <label for="resetCode">Reset Code</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="Enter reset code" value="{{ __SELF__.code }}">
    </div>
    <div class="form-group input-group-lg">
        <label for="resetPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="Enter a new password">
    </div>
    <button type="submit" class="btn btn-primary center-block btn-lg">Reset Password</button>
</form>